## Indian Start-up Funding Analysis

### Summary
This project seeks to gain insight into the fundings received by start-ups companies in India between 2018 and 2021. As an analyst on a team trying to venture into the Indian start-up ecosystem, we seek to propose the best course of action by analysing funding received by these start-ups.

### Business Understanding



Start-up funding plays a crucial role providing essential capital to nurture new businesses that drive economic growth and technological advancement. The Indian start-up ecosystem spans across various sectors such as e-commerce, fintech, edtech, healthtech and agritech.
This project aims to equip the team with knowledge and stategic insights on identifying the most promising sectors, cities, funding trends and other relevant information necessary to make informed decisions before venturing into that system


Key business questions to be anwsered by analysing the data includes;

1. Which sectors have shown the highest growth in terms of funding over the four year period under review?

2. What are the prefered locations for the majority of startups?

3. Who are the main investors in the start-up ecosystem?

4. Which sectors receive the highest level of funding and which receive the lowest

5. What is the average amount of funding across the start-up sectors 



#### Hypothesis


Null hypothesis(HO): The amount of funding is based on the sector of the start-up.

Alternative hypothesis(H1): The amount of funding is not based on the sector of the start-up

### Data Understanding

 
There are four datasets, each giving infomation about start-up funding for the year in review. These dataset contains various attributes such as company name, sector, funding amount and location of company. 

The key attributes in the datasets include;

Column names and description:

Company/Brand: Name of the company/start-up

Founded: Year start-up was founded

Sector: Sector of service

What it does: Description about Company

Founders: Founders of the Company

Investor: Investors

Amount($): Raised fund

Stage: Round of funding reached

### Importing the various libraries and modules to help in data preparation and analysis

In [1]:
import pyodbc
import pandas as pd
from dotenv import dotenv_values
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import re


pd.set_option("display.max_columns", None)

pd.set_option('display.max_rows', None)

import warnings 

warnings.filterwarnings('ignore')

### Loading the datasets to be used for the analysis

In [2]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

# creating a connection to the database
connection = pyodbc.connect(connection_string)

# Selecting the datasets from the database
query1 = ''' SELECT * FROM dbo.LP1_startup_funding2021'''
query2 = ''' SELECT * FROM dbo.LP1_startup_funding2020'''

In [3]:
# Loading the datasets

data_2021 = pd.read_sql(query1, connection)
data_2020 = pd.read_sql(query2, connection)
data_2019 = pd.read_csv(r"C:\Users\bb\Desktop\Azubi\Career_Acc\LP\LP1-The-Indian-Startup-Ecosystem-\startup_funding2019.csv")
data_2018 = pd.read_csv(r"C:\Users\bb\Desktop\Azubi\Career_Acc\LP\LP1-The-Indian-Startup-Ecosystem-\startup_funding2018.csv")

### EDA


#### Exploring the 2018 Dataset

In [4]:

data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [5]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [6]:
# A brief description of the 2018 dataset

data_2018.describe(include="all").transpose()

,count,unique,top,freq
Company Name,526,525,TheCollegeFever,2
Industry,526,405,—,30
Round/Series,526,21,Seed,280
Amount,526,198,—,148
Location,526,50,"Bangalore, Karnataka, India",102
About Company,526,524,"TheCollegeFever is a hub for fun, fiesta and f...",2

In [7]:
# Checking for duplicates

data_2018.duplicated().sum()

1

#### Exploring the 2019 Dataset

In [8]:
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [9]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [10]:
# Checking for NaN values in the dataset

data_2019.isna().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [11]:
# A brief description of the 2019 dataset

data_2019.describe(include="all").transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company/Brand,89,87,Kratikal,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,60.0,NaN,NaN,NaN,2014.533333,2.937003,2004.0,2013.0,2015.0,2016.25,2019.0
HeadQuarter,70,17,Bangalore,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,84,52,Edtech,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What it does,89,88,Online meat shop,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,86,85,"Vivek Gupta, Abhay Hanjura",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,89,86,Undisclosed,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount($),89,50,Undisclosed,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage,43,15,Series A,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Checking for duplicates

data_2019.duplicated().sum()

0

In [13]:
# Checking the years the companies were founded to see if they qualify to be considered start-ups

data_2019['Founded'].unique()

array([  nan, 2014., 2004., 2013., 2010., 2018., 2019., 2017., 2011.,
       2015., 2016., 2012., 2008.])

#### Exploring the 2020 Dataset

In [14]:
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [15]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [16]:
# Checking for NaN values in the dataset

data_2020.isna().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [17]:
# A brief description of the 2020 dataset

data_2020.describe(include="all").transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company_Brand,1055,905,Nykaa,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,842.0,NaN,NaN,NaN,2015.36342,4.097909,1973.0,2014.0,2016.0,2018.0,2020.0
HeadQuarter,961,77,Bangalore,317,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,1042,302,Fintech,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What_it_does,1055,990,Provides online learning classes,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,1043,927,Falguni Nayar,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,1017,848,Venture Catalysts,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount,801.0,NaN,NaN,NaN,113042969.543071,2476634939.888352,12700.0,1000000.0,3000000.0,11000000.0,70000000000.0
Stage,591,42,Series A,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
column10,2,2,Pre-Seed,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Checking for duplicates

data_2020.duplicated().sum()

3

In [19]:
# Checking the years the companies were founded to see if they qualify to be considered start-ups

data_2020['Founded'].unique()

array([2019., 2018., 2020., 2016., 2008., 2015., 2017., 2014., 1998.,
       2007., 2011., 1982., 2013., 2009., 2012., 1995., 2010., 2006.,
       1978.,   nan, 1999., 1994., 2005., 1973., 2002., 2004., 2001.])

#### Exploring the 2021 Dataset

In [20]:
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [21]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [22]:
# Checking for NaN values in the dataset

data_2021.isna().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [23]:
# A brief description of the 2021 dataset

data_2021.describe(include="all").transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company_Brand,1209,1033,BharatPe,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,1208.0,NaN,NaN,NaN,2016.655629,4.517364,1963.0,2015.0,2018.0,2020.0,2021.0
HeadQuarter,1208,70,Bangalore,426,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,1209,254,FinTech,122,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What_it_does,1209,1143,BharatPe develops a QR code-based payment app ...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,1205,1095,"Ashneer Grover, Shashvat Nakrani",7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,1147,937,Inflection Point Ventures,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount,1206,278,$Undisclosed,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage,781,31,Seed,246,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Checking for duplicates

data_2021.duplicated().sum()

19

In [25]:
# Checking the years the companies were founded to see if they qualify to be considered start-ups

data_2021['Founded'].unique()

array([2019., 2015., 2012., 2021., 2014., 2018., 2016., 2020., 2010.,
       2017., 1993., 2008., 2013., 1999., 1989., 2011.,   nan, 2009.,
       2002., 1994., 2006., 2000., 2007., 1978., 2003., 1998., 1991.,
       1984., 2004., 2005., 1963.])

#### Issues arrising from the datasets

1. There are duplicates in the datasets. 
2. Some of the company names are not properly spaced .
3. There are values represented as "-" in the  Industry and Amount Columns.
4. The Location column  in data_2018 has the City, State, and Country included. We only want the city.
5. The Amount column in data_2018 has two different currencies and some non integer values 
6. There are differences in column name for same category in the datasets 
7. Some columns have very high null value count.
8. There are differences in data types for some columns of same category
9. There are companies whose founding year are above the 10 year period threshold to be qualified as start-ups in India



#### In order to properly clean the datasets for the data analysis, all four dataset will have to be merged into one dataset. 
#### To streamline this process , we have to standardize the column names and add or drop appropriate columns where necessary

In [26]:
# standardise the column name for the company name category

data_2018.rename(columns={'Company Name': 'Company_Name'}, inplace=True)
data_2019.rename(columns={'Company/Brand': 'Company_Name'}, inplace=True)
data_2020.rename(columns={'Company_Brand': 'Company_Name'}, inplace=True)
data_2021.rename(columns={'Company_Brand': 'Company_Name'}, inplace=True)

# standardise the column name for the company description category

data_2018.rename(columns={'About Company': 'About_Company'}, inplace=True)
data_2019.rename(columns={'What it does': 'About_Company'}, inplace=True)
data_2020.rename(columns={'What_it_does': 'About_Company'}, inplace=True)
data_2021.rename(columns={'What_it_does': 'About_Company'}, inplace=True)

# add funding year column to help identyfy year of dataset

data_2018['funding_year'] = 2018
data_2019['funding_year'] = 2019
data_2020['funding_year'] = 2020
data_2021['funding_year'] = 2021

# add columns which are missing from the 2018 datasets

data_2018['Investor'] = 'undisclosed'

# Rename column names to match the names in the othe datasets

data_2018.rename(columns={'Amount': 'Amount($)'}, inplace=True)
data_2020.rename(columns={'Amount': 'Amount($)'}, inplace=True)
data_2021.rename(columns={'Amount': 'Amount($)'}, inplace=True)
data_2018.rename(columns={'Industry': 'Sector'}, inplace=True)
data_2018.rename(columns={'Round/Series': 'Stage'}, inplace=True)
data_2018.rename(columns={'Location': 'HeadQuarter'}, inplace=True)

# drop companies which are above the 10 year founding period threshold to be considered as start-ups

threshold_2019 = 2009
condition_1 = (data_2019['Founded'] < threshold_2019) & data_2019['Founded'].notna()
data_2019 = data_2019[~condition_1]

threshold_2020 = 2010
condition_2 = (data_2020['Founded'] < threshold_2020) & data_2020['Founded'].notna()
data_2020 = data_2020[~condition_2]

threshold_2021 = 2011
condition_3 = (data_2021['Founded'] < threshold_2021) & data_2021['Founded'].notna()
data_2021 = data_2021[~condition_3]

# drop the column with almost no data 

data_2020.drop(['column10'],axis=1,inplace=True)


# drop columns not needed for analysis

data_2021.drop(columns={'Founders','Founded'}, inplace=True)
data_2020.drop(columns={'Founders','Founded'}, inplace=True)
data_2019.drop(columns={'Founders','Founded'}, inplace=True)

In [27]:
# converting all amounts in rupees(₹) to dollars($) for the 2018 dataset

exchange_rates_2018 = 0.0146
    

# Function to convert currency
def convert_currency(amount):
    if amount.startswith('₹'):
        cleaned_amount = amount.replace('₹', '').replace(',', '')
        try:
            return float(cleaned_amount) * exchange_rates_2018
        except ValueError:
            return amount   # Keep the original value for invalid formats
    else:
        try:
            return float(amount)
        except ValueError:
            return amount

# Apply the function to the 'Amount' column
data_2018['Amount'] = data_2018['Amount'].apply(convert_currency)

### Merging the datasets into one

In [28]:
data_combined = pd.concat([data_2021, data_2020, data_2019,data_2018], ignore_index=True)
data_combined.head(10)

,Company_Name,HeadQuarter,Sector,About_Company,Investor,Amount,Stage,funding_year
0,Unbox Robotics,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,Mumbai,EdTech,UpGrad is an online higher education platform.,"Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,Mumbai,EdTech,LEAD School offers technology based school tra...,"GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...","Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021
5,Urban Company,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,Vy Capital,"$188,000,000",None,2021
6,Comofi Medtech,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,"CIIE.CO, KIIT-TBI","$200,000",None,2021
7,Qube Health,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Inflection Point Ventures,Undisclosed,Pre-series A,2021
8,Vitra.ai,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Inflexor Ventures,Undisclosed,None,2021
9,Fitterfly,Mumbai,HealthTech,Fitterfly offers customized and personalized w...,"9Unicorns Accelerator Fund, Metaform Ventures","$3,000,000",Pre-series A,2021

### Data Cleaning

The first step is to drop duplicates from the dataset, and then 
each column is investigated and the appropraite cleaning method is applied to resolve issues identified.

In [29]:
# check the datatype and details of the columns

data_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2758 entries, 0 to 2757
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   2758 non-null   object
 1   HeadQuarter    2648 non-null   object
 2   Sector         2740 non-null   object
 3   About_Company  2758 non-null   object
 4   Investor       2664 non-null   object
 5   Amount         2506 non-null   object
 6   Stage          1900 non-null   object
 7   funding_year   2758 non-null   int64
dtypes: int64(1), object(7)
memory usage: 172.5+ KB

In [30]:
# Checking for duplicates in dataset

data_combined.duplicated().sum()

22

In [31]:
# drop duplicate values from dataset

data_combined.drop_duplicates(inplace=True)

#### Company_Name column

In [32]:
# Checking for NaN values in the dataset

data_combined['Company_Name'].isna().sum()

0

#### Funding year column

In [33]:
# convert the year to a datetime format

data_combined['funding_year'] = pd.to_datetime(data_combined['funding_year'])

data_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2736 entries, 0 to 2757
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   2736 non-null   object
 1   HeadQuarter    2626 non-null   object
 2   Sector         2718 non-null   object
 3   About_Company  2736 non-null   object
 4   Investor       2643 non-null   object
 5   Amount         2485 non-null   object
 6   Stage          1886 non-null   object
 7   funding_year   2736 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 192.4+ KB

#### HeadQuarter column 

Empty values are filled with the most common cities

In [34]:
#  Run samples to check the data

data_combined['HeadQuarter'].sample(n=10)

763     New Delhi
1074    Bangalore
1581       Mumbai
82      Bangalore
1122    Bangalore
1689         Pune
588     New Delhi
1460     Gurugram
802       Chennai
1225      Kolkata
Name: HeadQuarter, dtype: object

In [35]:
# Split and extract only cities for the column

data_combined["HeadQuarter"] = data_combined['HeadQuarter'].str.split(',').str[0]
data_combined['HeadQuarter'].sample(n=10)

332      Gurugram
2469        Delhi
2507    Ghaziabad
1739    Bangalore
1276    Bangalore
941      Gurugram
384       Gurgaon
301        Mumbai
872     Bangalore
1270    Bangalore
Name: HeadQuarter, dtype: object

In [36]:
# Checking for NaN values in the dataset

data_combined['HeadQuarter'].isna().sum()

110

In [37]:
# check for the most common city in the headQuarter column

most_common_city = data_combined['HeadQuarter'].mode()[0]
most_common_city

'Bangalore'

In [38]:
# Fill empty columns with the most common city

data_combined['HeadQuarter'].fillna(most_common_city, inplace=True)

#### The Sector column: 

We reconstitute the sectors into 10 main industries

In [39]:
data_combined['Sector'].sample(n=50)

2753     B2B, Business Development, Internet, Marketplace
2303                           Consulting, Retail, Social
2388                 Banking, Finance, Financial Services
2077                                               Edtech
1207                           Conversational AI platform
1384                                            LegalTech
2206                                      Automotive tech
681                                          Tech Startup
1422                                              FinTech
770                                                EdTech
1970                                           Automotive
2725                        Health Care, Health Insurance
2659                                Health Care, Hospital
301                                            Healthcare
1894                                             Foodtech
1303                                          QSR startup
2243                                             Internet
1695                                            Co-living
1234                                            Spacetech
2183                                     Food & Nutrition
466                                            Healthcare
1777                                                   AI
1909                                               Edtech
893                                               Farming
1110                                               Health
855                                    Financial Services
2593    Energy, Environmental Consulting, Renewable En...
261                                          Online Media
2408                                               Mobile
1154                                               Gaming
2068                                      Interior Design
1080                           Health, Wellness & Fitness
22                                              Deep Tech
417                          Pollution control equiptment
712                                       Beauty products
654                                                Gaming
178                                               FinTech
1413                                         Social Media
2380                  Hospitality, Hotel, Leisure, Travel
2658                 Banking, Financial Services, FinTech
2571                                              Banking
1764                                          SaaS/Edtech
582                                            E-commerce
2260              Automotive, Marketplace, Online Portals
32                                                FinTech
2478                                        Digital Media
2172                                             Foodtech
307                                            AI startup
1448                                                 Tech
2290                                                    —
Name: Sector, dtype: object

In [40]:
data_combined['Sector'].unique()

array(['AI startup', 'EdTech', 'B2B E-commerce', 'FinTech',
       'Home services', 'HealthTech', 'Tech Startup', 'B2B service',
       'Helathcare', 'Renewable Energy', 'E-commerce', 'IT startup',
       'Food & Beverages', 'Aeorspace', 'Deep Tech', 'Dating', 'Gaming',
       'Robotics', 'Retail', 'Food', 'Oil and Energy', 'AgriTech',
       'Electronics', 'Milk startup', 'AI Chatbot', 'IT', 'Logistics',
       'Hospitality', 'Fashion', 'Marketing', 'Transportation',
       'LegalTech', 'Food delivery', 'Automotive', 'SaaS startup',
       'Fantasy sports', 'Video communication', 'Social Media',
       'Skill development', 'Rental', 'Recruitment', 'HealthCare',
       'Sports', 'Computer Games', 'Consumer Goods',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'Healthtech', 'Healthcare',
       'SportsTech', 'HRTech', 'Wine & Spirits',
       'Mechanical & Industrial Engineering', 'Spiritual',
       'Financial Services', 'Industrial Automation', 'Health',
       'Lifestyle', 'IoT', 'Banking', 'Computer software', 'Tech startup',
       'Digital mortgage', 'Information Technology & Services',
       'Furniture', 'B2B marketplace', 'Healtcare', 'Location Analytics',
       'Media', 'Consumer Electronics', 'Tobacco', 'Deeptech',
       'Insuretech', 'MLOps platform', 'Venture Capital', 'Drone',
       'Wholesale', 'Construction', 'E-learning', 'Consumer Services',
       'Venture Capital & Private Equity', 'Health, Wellness & Fitness',
       'OTT', 'Education Management', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Music', 'Insurance', 'Hauz Khas',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Hospital & Health Care', 'Social media', 'Real Estate',
       'Digital platform', 'Computer Software', 'B2B Ecommerce',
       'Online Media', 'Social commerce', 'Mobile Games',
       'Food Production', 'Podcast', 'HeathTech', 'Battery',
       'Content publishing', 'Water purification', 'Content commerce',
       'Software company', 'Automation', 'Food Industry',
       'Celebrity Engagement', 'Trading platform', 'Personal Care',
       'Cannabis startup', 'Blogging', 'Consulting', 'BioTechnology',
       'B2B Marketplace', 'Health care', 'Social audio',
       'Fashion and lifestyle', 'Delivery service', 'B2B Manufacturing',
       'Home Decor', 'Solar', 'TaaS startup', 'EV startup', 'HR Tech',
       'Blockchain startup', 'Food and Beverages', 'Beverages',
       'Manufacturing startup', 'Cryptocurrency',
       'Vehicle repair startup', 'Advisory firm', 'Legaltech',
       'Pollution control equiptment', 'Fashion & Lifestyle', 'Cosmetics',
       'Blockchain', 'Fitness', 'D2C', 'Mobility', 'Automobile',
       'Merchandise', 'Facilities Services', 'Marketing & Advertising',
       'Human Resources', 'D2C Business', 'Biotechnology', 'Farming',
       'NFT Marketplace', 'Internet', 'SpaceTech', 'Consumer software',
       'Social community', 'Fishery', 'Renewables & Environment',
       'Online storytelling', 'Aviation', 'IT company',
       'Environmental service', 'Job discovery platform', 'D2C Fashion',
       'Heathcare', 'CRM', 'Software', 'Nutrition', 'D2C startup',
       'Innovation management', 'Community platform',
       'Venture capitalist', 'Networking', 'Commercial Real Estate',
       'AR startup', 'Consumer service', 'Consumer goods', 'Pet care',
       'MarTech', 'Advertisement', 'Content creation',
       'Augmented reality', 'Rental space', 'Bike Rental',
       'Beauty products', 'FemTech', 'Cultural', 'Co-working',
       'InsureTech', 'Supply chain platform', 'Social platform',
       'CleanTech', 'Real estate', 'AI company', 'Sports startup',
       'Matrimony', 'Crypto', 'Clothing', 'Analytics', 'Finance',
       'IoT platform', 'Commerce', 'Defense & Space', 'Entertainment',
       'Business Supplies & Equipment', 'NFT', 'Oil & Energy', 'EV',
       'Company-as-a-Service', 'Eyewear', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Equity Management',
       'Cloud kitchen', 'Nanotechnology', 'Community', 'Higher Education',
       'B2B', 'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'SaaS', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Veterinary', 'Arts & Crafts',
       'Telecommunications', 'Investment Management', 'Education',
       'Management Consulting', 'B2B startup',
       'Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience',
       'Design', 'B2B Travel', 'Interior Design',
       'Manchester, Greater Manchester', 'Product studio',
       'Aviation & Aerospace', 'Staffing & Recruiting',
       'Hygiene management', 'Escrow', 'Networking platform',
       'Crowdsourcing', 'Food & Bevarages', 'Fashion startup',
       'Virtual auditing startup', 'Work fulfillment', 'Tyre management',
       'Cloud company', 'Renewable player', 'IoT startup', 'Aero company',
       'Marketing company', 'Retail startup', 'Co-working Startup',
       'Finance company', 'Tech company', 'Solar Monitoring Company',
       'Video sharing platform', 'Gaming startup',
       'Video streaming platform', 'Consumer appliances',
       'Conversational AI platform', 'SaaS platform', 'AI platform',
       'Fusion beverages', 'Job portal', 'Digital Media', 'Dairy startup',
       'Content management', 'Spacetech', 'AI Company',
       'Photonics startup', 'Scanning app', 'Skincare startup',
       'Biotechnology company', 'FoodTech', 'Proptech', 'Fitness startup',
       'PaaS startup', 'Automobiles', 'AR/VR startup',
       'Recruitment startup', 'QSR startup', 'Video platform', 'Edtech',
       'Fertility tech', 'Luxury car startup', 'FM', 'Nutrition sector',
       'Tech platform', 'Video', 'Retail Tech', 'Medtech',
       'Sles and marketing', 'Car Service', 'Bike marketplace',
       'Agri tech', 'Reatil startup', 'AR platform',
       'Content marketplace', 'Soil-Tech', 'Ayurveda tech',
       'Packaging solution startup', 'Cleantech', 'Sanitation solutions',
       'Home Design', 'AI Startup', 'Solar solution', 'Jewellery startup',
       'Deeptech startup', 'Social Network', 'Publication', 'Tech',
       'Venture capital', 'Entreprenurship', 'Warehouse', 'Eyeglasses',
       'Battery design', 'Online credit management startup', 'Beverage',
       'TravelTech', 'Agriculture', 'Startup laboratory',
       'Personal care startup', 'Customer service company',
       'SaaS\xa0\xa0startup', 'Marketing startup', 'Service industry',
       'AI', 'Jewellery', 'HR Tech startup', 'Automotive Startup',
       'Food Startup', 'EdTech Startup', 'EdtTech', 'Manufacturing',
       'AI Platform', 'Solar SaaS', 'WL & RAC protection',
       'Home interior services', 'Agritech startup', 'API platform',
       'Electricity', 'Automotive company', 'FMCG', 'Insurance Tech',
       'Video personalization', 'Software Company', 'Biomaterial startup',
       'Craft Beer', 'Investment', 'Linguistic Spiritual',
       'Battery manufacturer', 'Nano Distribution Network', 'AI health',
       'Dating app', 'Fintech', 'Healthcare/Edtech', 'Social Commerce',
       'Agritech/Commerce', 'Mobility tech', 'Social e-commerce',
       'Food & Logistics', 'Nutrition Tech', 'HR', None, 'Agritech',
       'Interior design', 'Foodtech', 'AR/VR', 'Appliance', 'HR tech',
       'Food tech', 'Mental Health', 'Ecommerce', 'Solar Solution',
       'Fashion Tech', 'Nutrition tech', 'Health & Wellness',
       'Cloud Kitchen', 'IoT/Automobile', 'Digital tech',
       'Data Intelligence', 'Co-living', 'Defense tech', 'Marketplace',
       'Construction tech', 'Coworking', 'Micro-mobiity', 'Auto-tech',
       'Beauty', 'Yoga & wellness', 'Logitech', 'Med Tech',
       'Life sciences', 'Retail Aggregator', 'Deep Tech AI', 'Biotech',
       'HrTech', 'Mobility/Transport', 'Travel', 'AI & Debt',
       'SaaS/Edtech', 'Transport', 'Insurtech', 'Automotive tech',
       'Legal', 'Supply chain, Agritech', 'Pharma',
       'Insurance technology', 'Foodtech & Logistics', 'Housing',
       'Pharmaceutical', 'Data Analytics', 'Investment Tech', 'Biopharma',
       'Dairy', 'Beauty & wellness', 'Travel & SaaS', 'Tourism & EV',
       'Media Tech', 'E store', 'Data Science', 'Health and Fitness',
       'Technology', 'Interior & decor', 'eMobility', 'Automation tech',
       'Media & Networking', 'E-market', 'AI & Data science',
       'Travel tech', 'Automotive and Rentals', 'E-tail', 'Accomodation',
       'AI & Media', 'Machine Learning', 'Content Marktplace',
       'Visual Media', 'Hygiene', 'VR & SaaS', 'Sales & Services',
       'AI & Deep learning', 'Housing & Rentals', 'Estore', 'E tailor',
       'E-mobility', 'Ad-tech', 'Neo-banking', 'Transport Automation',
       'Techonology', 'Transport & Rentals', 'AI Robotics',
       'Preschool Daycare', 'Food diet', 'B2B Agritech', 'E-connect',
       'Tech hub', 'Consultancy', 'Pharmacy', 'Deisgning', 'Taxation',
       'Automobile Technology', 'AI & Tech', 'E-commerce & AR',
       'Safety tech', 'E-marketplace', 'Robotics & AI',
       'Food & Nutrition', nan, 'E-Sports', 'B2B Supply Chain', 'Games',
       'Food & tech', 'Legal tech', 'Mutual Funds', 'Cybersecurity',
       'Virtual Banking', 'Marketing & Customer loyalty', 'Infratech',
       'Automobile & Technology',
       'Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Agriculture, Farming',
       'Credit, Financial Services, Lending, Marketplace',
       'Financial Services, FinTech',
       'E-Commerce Platforms, Retail, SaaS',
       'Cloud Infrastructure, PaaS, SaaS',
       'Internet, Leisure, Marketplace', 'Market Research',
       'Information Services, Information Technology', 'Mobile Payments',
       'B2B, Shoes',
       'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat',
       'Food Delivery', 'Automotive, Search Engine, Service Industry',
       'Finance, Internet, Travel',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Artificial Intelligence, Product Search, SaaS, Service Industry, Software',
       'Internet of Things, Waste Management',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Food and Beverage', 'Autonomous Vehicles',
       'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS',
       'Agriculture, Analytics, Big Data, Farming',
       'Logistics, Supply Chain Management',
       'Financial Services, Lending',
       'Automotive, Marketplace, Online Portals',
       'Artificial Intelligence',
       'Internet of Things, Telecommunications',
       'Information Technology, Logistics, Supply Chain Management',
       'Blockchain, Developer Tools, Enterprise Software',
       'Industrial Automation, Logistics, Supply Chain Management',
       'Food and Beverage, Food Delivery, Snack Food',
       'E-Commerce, Fashion, Jewelry, Retail', 'E-Learning, Education',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning',
       'E-Commerce, Fashion, Mobile',
       'Apps, Messaging, Navigation, Public Safety',
       'Fitness, Health Care, Wellness',
       'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant',
       'Food and Beverage, Tea',
       'Media and Entertainment, News, Outdoors',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'B2B, Information Services, Information Technology',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'Health Care, Medical', 'E-Commerce',
       'Health Care, Hospital, Wellness', '—',
       'Big Data, Consumer Lending, FinTech',
       'Cloud Computing, Computer, Semiconductor',
       'Health Care, Medical, Pharmaceutical', 'Food Processing, Retail',
       'Trading Platform', "Consumer Goods, Lifestyle, Men's", 'Wellness',
       'Food and Beverage, Food Processing, Nutrition',
       'Automotive, Electric Vehicle, Energy Storage',
       'Consulting, Retail, Social',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Health Care',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Communities, Coworking, Incubators',
       'Consumer, Financial Services, FinTech',
       'Consumer Applications, Information Services, Location Based Services, Virtual Assistant',
       'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps',
       'Education, Financial Services, FinTech',
       'Advertising, Consulting, Digital Marketing',
       'Marketplace, Real Estate, Rental Property',
       'E-Learning, Internet, Video Games',
       'Artificial Intelligence, Cloud Computing, Video',
       'Health Care, Information Technology', 'Aerospace',
       'E-Commerce, Fashion, Lifestyle',
       'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning',
       'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home',
       'EdTech, Education, Information Services, SaaS', 'Energy, Solar',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'Artificial Intelligence, Social',
       'Logistics, Transportation, Travel',
       'Digital Marketing, SEM, SEO, Web Development',
       'Health Care, Hospital, Medical', 'Finance, Financial Services',
       'Food Delivery, Food Processing, Internet',
       'E-Commerce, Food and Beverage, Internet',
       'Fitness, Food and Beverage, Health Care, Nutrition',
       'EdTech, Education, Knowledge Management',
       'Apps, Beauty, Consumer, Retail',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'E-Learning, Education, Higher Education', 'Health Diagnostics',
       'EdTech, Education', 'Financial Services, SaaS, Security',
       'Banking, Finance, Financial Services, Non Profit',
       'B2B, E-Commerce, Mobile',
       'Automotive, Electric Vehicle, Renewable Energy', 'E-Learning',
       'Embedded Systems, Health Care, Medical, Product Research',
       'Apps, E-Commerce, Internet',
       'Advertising, Human Resources, Marketing',
       'Beauty, Fitness, Home Services, Internet',
       'Health Care, Medical Device, Public Safety',
       'Food Delivery, Online Portals, Restaurants',
       'AgTech, B2B, Supply Chain Management',
       'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments',
       'EdTech, Education, Higher Education, Secondary Education',
       'Manufacturing, Retail',
       'Information Services, Information Technology, InsurTech',
       'Consumer Lending, FinTech', 'Internet, Social Network, TV',
       'Beauty, Health Care', 'Hospital', 'Events',
       '3D Printing, Manufacturing, Product Design', 'Automotive, Retail',
       'Apps, Audio', 'Automotive, E-Commerce',
       'Digital Entertainment, Fantasy Sports, Sports',
       'E-Learning, EdTech, Education',
       'Funding Platform, Incubators, Non Profit',
       'Hospitality, Hotel, Leisure, Travel',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Banking, E-Learning, Trading Platform',
       'E-Commerce, Mobile, Retail',
       'Artificial Intelligence, Information Technology',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Banking, Finance, Financial Services',
       'Audio, Mobile, Tourism, Travel',
       'Energy, Energy Storage, Infrastructure',
       'Government, Information Technology, Software',
       'Education, Information Technology, Internet, Mobile, Software',
       'Consumer Lending, Financial Services, Lending, Personal Finance',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Credit, Financial Services, FinTech, Lending',
       'Children, Education, Parenting',
       'Automotive, Battery, Energy, Energy Storage',
       'E-Commerce, Mobile, Sharing Economy',
       'Food Delivery, Organic, Organic Food', 'Mobile', 'Consumer',
       'B2B, Farming, Marketplace', 'Wealth Management',
       'Education, Gaming, Training',
       'Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless',
       'Health Care, Hospital, Supply Chain Management',
       'Tourism, Travel', 'Hospitality, Real Estate',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software',
       'Food and Beverage, Food Processing',
       'Internet, Marketplace, Shopping',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Facilities Support Services',
       'Automotive, Electric Vehicle, Energy',
       'Health Care, Health Diagnostics, Predictive Analytics',
       'Cloud Computing, Computer, SaaS, Software',
       'Fashion, Lifestyle, Retail', 'Medical', 'Music Streaming',
       'Finance, Impact Investing, Internet',
       'Internet, Social Entrepreneurship',
       'Finance, Impact Investing, Mobile Apps',
       'Cloud Computing, Computer, Software',
       'Business Development, Market Research, Outsourcing',
       'Health Care, Hospitality', 'Internet, Social News, Sports',
       'Finance, Financial Services, FinTech',
       'Customer Service, Software, Video, Video Streaming',
       'E-Commerce, Food Processing', 'Training',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Manufacturing, Oil and Gas, Robotics',
       'Artificial Intelligence, Computer, Machine Learning',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Big Data, EdTech, Machine Learning',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Financial Services, Lending, Peer to Peer',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'File Sharing, Personalization, Social Media',
       'Home Decor, Interior Design',
       'Health Care, Medical Device, Mobile Apps',
       'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management',
       'Crowdfunding, Finance, Financial Services',
       'Finance, Financial Services, Insurance',
       'Children, Education, Online Portals', 'Software, Virtual Reality',
       'B2B, Food and Beverage, Food Delivery',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       'Food and Beverage, Snack Food', 'Automotive, E-Commerce, Mobile',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses',
       'Delivery, Information Technology, Mobile Apps',
       'Environmental Consulting, Renewable Energy',
       'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance',
       'Commercial Real Estate, Coworking, Office Administration, Real Estate',
       'Food and Beverage, Food Processing, Organic Food, Snack Food',
       'Apps, Health Care, Internet, Mobile Apps, Personal Health',
       'Digital Media, Incubators, Social Entrepreneurship',

In [ ]:
def sector_redistribution(sector):
    if re.search('bank|fintech|finance|crypto|account|credit|venture|crowd|blockchain|'
                 , sector):
        return 'Finance'
    elif re.search(r'automotive|air transport|transport|logistics|vehicle|transportation|', sector):
        return 'Transport'
    elif re.search('Healthcare|Healthtech|Healtcare|Health|Helathcare|HealthCare|Health Care|Pharmaceutical', sector):
        return 'Health'
    else:
        return sector

In [41]:
# Checking for NaN values in the dataset

data_combined['Sector'].isna().sum()

18

### The Amount column

We assume all the amounts to be in dollars as those with the ruppees denomination have been converted to dollars

In [42]:
# Run samples to check the data

data_combined['Amount'].sample(n=50)

1753             NaN
1722       6609000.0
708      $12,000,000
86          $2500000
1897             NaN
1339       4000000.0
1426       1000000.0
1713       1100000.0
1696       2250000.0
24       $53,000,000
2239        730000.0
2687        400000.0
2093         12700.0
2012      24000000.0
1765       1326000.0
1131        $2000000
2682       8760000.0
882         $1500000
1855      12000000.0
1724      27700000.0
1775             NaN
1047    $Undisclosed
864       $$1,55,000
1981      75000000.0
1594        350000.0
2315        496400.0
330      $10,000,000
2366        $900,000
1841       1500000.0
533         $3000000
2562        292000.0
1397      55000000.0
1142        600000.0
2475               —
2352               —
216         $7000000
2723               —
719       $5,000,000
1086        $1500000
1147             NaN
2314        120000.0
1633             NaN
715       $6,300,000
1009        $5000000
149         $3800000
476         $4500000
541          $370000
687       $1,700,000
2454         73000.0
774       $8,000,000
Name: Amount, dtype: object

In [43]:
# remove all non integer values 

data_combined['Amount'] = data_combined['Amount'].apply(lambda x: re.sub(r'\D', '', str(x)))

#  convert datatype to float

data_combined['Amount'] = pd.to_numeric(data_combined['Amount'])

data_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2736 entries, 0 to 2757
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Name   2736 non-null   object
 1   HeadQuarter    2736 non-null   object
 2   Sector         2718 non-null   object
 3   About_Company  2736 non-null   object
 4   Investor       2643 non-null   object
 5   Amount         2180 non-null   float64
 6   Stage          1886 non-null   object
 7   funding_year   2736 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 192.4+ KB

#### The Investor column

In [44]:
data_combined['Investor'].sample(n=50)

1947                                        KA Enterprise
1355                Whiteboard Capital, VKG Ventures LLP.
43                   DSG Consumer Partners, Saama Capital
2545                                          undisclosed
2745                                          undisclosed
955                          Blume, Alpha Wave Incubation
633               Paradigm Shift Capital, AngelList India
1111    HOF Capital, Old Well Ventures, LetsVenture, 9...
2526                                          undisclosed
1477                               US based NRI Investors
2674                                          undisclosed
808                                       GSF Accelerator
1082                             Omnivore, India Quotient
1024                           James Milner, Adam Lallana
1444                                     Homage Ventures.
680      9Unicorns Accelerator Fund, Indian Angel Network
1609                                       Better Capital
276                                          A91 Partners
571     NewQuest Capital Partners, Motilal Oswal Priva...
2351                                          undisclosed
2727                                          undisclosed
1476            Damien Toledo, Jim Bugwadia, Ritesh Patel
831                                 OAKS Asset Management
52                 Acko Technology, Services, LetsVenture
2157                                        Titan Capital
2089                            Yatra Angel Network (YAN)
2076    Green Shots Capital, Alfa Ventures, Real Time ...
1216                  Unitus Ventures, Whiteboard Capital
690                     Sundi Natarajan, Srinivas Anumolu
451                                     Infoedge ventures
1951                                LetsVenture investors
1907                                    Venture Catalysts
2024                                    Venture Catalysts
664     Yamaha Motors, Omidyar Network India, Eight Ro...
1561                  Nexus Venture Partners, Sam Lambert
2603                                          undisclosed
2191     Innovation in Food & Agriculture Fund (IFA Fund)
285                             Ritu Marya Family Office.
1949                              Education Catalyst Fund
1497                        RPSG Ventures, Amicus Capital
2064    Tiger Global, Steadview Capital, DF Internatio...
1748                                    Venture Catalysts
600                                       Alteria Capital
1882                        Amazon Inc`, Dinesh J Hinduja
826                      Warburg Pincus﻿, Prosus Ventures
2171                                      Canaan Partners
1559               SucSEED Venture Partners, ah! Ventures
68                                T Choithrams BVI, Ardor
767                            Y Combinator, Rehan A Khan
968                    Venture Catalysts, Gruhas Proptech
Name: Investor, dtype: object